{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="padding-top: 65px">
    <div class="row well justify-content-center" style="padding-top: 20px">
        <div class="content-section col-8">
            <h3>You have been logged out</h3>
        </div>
        <div class="col-8 border-top pt-3">
            <small class="text-muted">
                Click <a href="{% url 'login' %}">here</a> to login again
            </small>
        </div>
    </div>
</div>

<!-- ECommerce Illustrations -->
<div class="justify-content-center">
    <div class="row text-center" padding-left: 350px; padding-right: 40px">
        <div class="col-md-12">
            <img src="{% static "accounts/mirage-logged-out.png" %}" width="200px" height="200px" />
        </div>
    </div>
</div>

{% endblock content %}