{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="row justify-content-center" style="padding-top: 20px">
    <div class="content-section col-11 col-sm-8 col-md-4">
        <form action="." method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Set Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success rounded-pill" type="submit">Register</button>
            </div>
        </form>
        <hr>
    </div>
</div>

<!-- ECommerce Illustrations -->
<div class="justify-content-center">
    <div class="row text-center">
        <div class="col-md-12">
            <img src="{% static "accounts/password-set.png" %}" width="300px" height="300px" class="img-fluid" />
        </div>
    </div>
</div>

{% endblock %}