{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center">{{ category.name }}</h1>
<hr>

{% for products in product_list %}
<div class="row justify-content-center">
    <div class="card-deck">
        {% for product in products %}
        <div class="card col-sm-3 col-md-4" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top rounded-circle p-3" src="{{ product.image.url }}" height="250" width="250"
                alt="Card image cap">
            <div class="card-body">
                <a href="{% url 'category_view' category.title %}">
                    <p class="card-text text-center"><strong>{{ product.title }}
                            | {{ product.description_short }} | <span
                                class="badge badge-warning">{{ product.label }}</span>
                        </strong></p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

<hr>

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#team">Team</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0"><a href="https://icons8.com">illustration by Ouch.pics
                    </a></p>
                <p class="text-muted small mb-4 mb-lg-0">&copy; CongoCart 2020. All Rights
                    Reserved.</p>
            </div>
            <!-- Social Media Icons -->
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/twitter.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


{% endblock content %}