{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="mt-4" style="color: black; font-size: 27px;">What are you looking for ?</h2>
<hr>
<div class="row justify-content-center">
    <div class="card-deck">
        {% for category in categories1 %}
        <div class="card col-sm-3 col-md-4" style="width: 18rem; border-radius: 2px;">
            <img class="card-img-top rounded-circle p-3" src="{{ category.image.url }}" height="250" width="250"
                alt="Card image cap">
            <div class="card-body">
                <a href="{% url 'category_view' category.title %}">
                    <p class="card-text text-center"><strong style="font-size: 20px;">{{ category.name }}</strong></p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="card-deck">
        {% for category in categories2 %}
        <div class="card col-sm-12 col-md-3" style="width: 18rem; border-radius: 2px;">
            <img class="card-img-top rounded-circle p-3" src="{{ category.image.url }}" height="250" width="250"
                alt="Card image cap">
            <div class="card-body">
                <a href="{% url 'category_view' category.title %}">
                    <p class="card-text text-center"><strong style="font-size: 20px;">{{ category.name }}</strong></p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<hr>

<!-- Footer -->
<footer class="footer text-center mt-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#team">Team</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0"><a href="https://icons8.com">illustration by Ouch.pics
                    </a></p>
                <p class="text-muted small mb-4 mb-lg-0">&copy; CongoCart 2020. All Rights
                    Reserved.</p>
            </div>
            <!-- Social Media Icons -->
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png" />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <img src="https://img.icons8.com/fluent/48/000000/twitter.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


{% endblock content %}