{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="card-group card-deck">
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static "core/vector-collages-online-partnership.png" %}"
                 width="180px" height="235px" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                <blockquote class="blockquote">Securely make payments and accept payments backed by highly scalable
                    infrastructure built from the ground
                    up for redundancy, security, and velocity.
                </blockquote>
                </p>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted"><a href="https://stripe.com"><img src="{% static 'core/stripe.svg' %}"
                                                                            height="100px" width="200px"></a></small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static "core/pale-order-completed.png" %}" width="180px"
                 height="235px" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                <blockquote class="blockquote">Choose from 5000+ products across food, personal care, household & other
                    categories
                    sold by sellers across the country. Easy shopping on the swipe of fingers.
                </blockquote>
                </p>
            </div>
            <div class="card-footer">
                <!-- <small class="text-muted"><a href="{% url 'categories' %}">Browse categories</a></small> -->
                <a href="{% url 'categories' %}"><strong>Browse Categories <img
                        src="https://img.icons8.com/ios-filled/25/ffffff/search-more.png"/></strong></a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-fluid" src="{% static "core/delivery-1.png" %}" width="180px" height="235px"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                <blockquote class="blockquote">Hassel-Free last mile delivery. Track your order live</blockquote>
                </p>
            </div>
            <div class="card-footer text-center">
                <small class="text-muted"><a href="https://www.delhivery.com/partner/"><img
                        src="{% static 'core/delhivery.png' %}" height="50px" width="100px"></a></small>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div style="margin-top: 30px">
            <!-- Call to Action -->
            {% if not user.is_authenticated %}
                <div class="container">
                    <div class="row text-center">
                        <div class="col-xl-9 mx-auto">
                            <h2 class="mb-4" style="color: black; font-family: 'Ubuntu', sans-serif;">Ready to get
                                started? Sign
                                up now!</h2>
                        </div>
                        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                            <a href="{% url 'register' %}" class="btn btn-block btn-lg btn-success" role="button">Register</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#team">Team</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0"><a href="https://icons8.com">illustration by Ouch.pics
                    </a></p>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; CongoCart 2020. All Rights
                        Reserved.</p>
                </div>
                <!-- Social Media Icons -->
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"/>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="https://img.icons8.com/fluent/48/000000/twitter.png"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


{% endblock content %}