{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h1 class="text-center">PRODUCT ADD</h1>
<hr>

<div class="row justify-content-center" style="padding-top: 20px">
    <div class="content-section col-11 col-sm-8 col-md-4">
        <form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">All fields are mandatory</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info rounded-pill" type="submit">Add Product</button>
            </div>
        </form>
        <hr>
    </div>
</div>

{% endblock %}